@import url('https://fonts.googleapis.com/css2?family=Sarina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #f04336;
  --color-secondary: #ff9266;
}
@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #fc4422;
  --color-secondary: #ff9266;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 9999s ease-in-out 0s;
}

* {
  font-family: "Sour Gummy", sans-serif;
}

header a.active {
  @apply shadow-[0.3rem_0.3rem_#f04336,-0.3rem_-0.3rem_#ff9266]
}